body {
  margin: 0;
  overflow: hidden;
  background: #111;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease;
}

/* Main room container */
.room {
  position: relative;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transform: perspective(240px) rotateX(0deg) rotateY(360deg); /* Center user in the room */
}

/* Walls, floor, and ceiling */
.wall, .floor, .ceiling {
  position: absolute;
  background: #333;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #555;
}

.wall {
  width: 1000px;/*Wall dimensions */
  height: 1000px;
}

/* Position the walls */
.wall-back {
  transform: translateZ(-500px); /* Back wall directly in front of the user */
  background: url(images/wall-texture.jpg);
}

.wall-back .art-piece img{
  width: 350px;
}

.wall-left {
  transform: rotateY(90deg) translateZ(-500px);/* Front wall behind the user */
  background: url(images/wall-texture.jpg);
}

.wall-right {
  transform: rotateY(-90deg) translateZ(-500px);
  background: url(images/wall-texture.jpg);
}

.wall-right .art-piece img{
  width: 400px;
} 

.wall-front {
  transform: rotateY(180deg) translateZ(-500px);
  background: url(images/wall-texture.jpg);
}

.wall-front .art-piece img{
  width: 350px;
}

/* Floor and ceiling */
.floor {
  width: 1000px;
  height: 1000px;
  transform: rotateX(90deg) translateZ(-500px);
  background: #222 url(images/floor_texture.jpg);
}

.ceiling {
  width: 1000px;
  height: 1000px;
  transform: rotateX(-90deg) translateZ(-500px);
  background: #444 url(images/wall-texture.jpg);
}

/* Art pieces */
.art-piece {
  position: absolute;
  cursor: pointer;
  border: 10px solid black;
  box-shadow: 10px 10px 10px;
  transition: transform 0.3s ease;
}

.art-piece img {
  width: 250px;
  height: auto;
  border-radius: 5px;
}

.art-piece:hover {
  transform: scale(1.2);
}

/* Modal for artwork details */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: white;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 30px 15px cyan;
  max-width: 90%;
}

.modal-content img {
  max-width: 300px;
}

.close{
  color: white;
  text-size-adjust: 50px;
  position: absolute;
  top: -5%;
  left: 190%;
  cursor: pointer;
}